 body {

                  font-family: "Helvetica-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                  margin:0;
                  padding:0;

              }
              
              p{

               font-size: 16px;
               color: #333333;
               line-height: 22px; 
              }
              
              ul{
                margin: 10px 0;
              }
              ul li, ol li{
               font-size: 16px;
               color: #333333;
               line-height: 22px; 
              } 


              strong{
               font-size: 16px;   
               color: #333333;
               line-height: 22px;
              }           
              img{
                  display: block;
                  max-width: 100%;
                  height: auto;
                  margin: 15px auto;
              }
              a{

               font-size: 16px; 
               line-height: 22px;
               color: #05ae43;
               text-decoration: none;
              }
              h1{

               color: #05ae43;
                font-weight: normal;
                font-size: 22px;
                line-height: 20px;
                margin-top: 0;
                margin-bottom: 26px;
              }
              h3{

               font-size: 21px;
               color: #05ae43;
               line-height: 27px;
               margin-top: 20px;
               margin-bottom: 20px;
              }
              blockquote {

    margin: 16px 16px 16px 32px;
    padding: 16px 16px 16px 24px;
    color: #333333;
    border-style: solid;
    border-width: 1px;
    border-left-width: 15px;
    }