	body {
	 font-family: "Helvetica-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	 margin:0;
	 padding:0;
	}

	//content
	p {
	 font-size: 16px;
	 color: #333333;
	 line-height: 22px;
	 padding-bottom: 16px;
	}

	ul {
	 margin: 10px 0;
	}

	//listed content
	 ul li, ol li{
	 font-size: 16px;
	 color: #333333;
	 line-height: 22px;
	}

	//bold
	 strong {
	 font-size: 16px;
	 color: #333333;
	 line-height: 22px;
	}

	img {
	 display: block;
	 max-width: 100%;
	 height: auto;
	 margin: 15px auto;
	}

	a {
	 font-size: 16px;
	 line-height: 22px;
	 color: #2AA9E0;
	 word-wrap: break-word;
	 text-decoration: none;
	}

	h1 {
	 color: #2AA9E0;
	 font-weight: normal;
	 font-size: 16px;
	 line-height: 20px;
	}

	h2 {
	 color: #333333;
	 font-size: 19px;;
	}

	h3 {
	 color: #2AA9E0;
	 font-size: 16px;;
	}

	blockquote {
	 margin: 16px 16px 16px 32px;
	 padding: 16px 16px 16px 24px;
	 color: #333333;
	 border-style: solid;
	 border-width: 1px;
	 border-left-width: 15px;
	}