##### Sample app settings #####

# Application package name and label
applicationId=net.squanchy.example
applicationName=Squanchy

# Scheme used for deeplinks into content
deeplinkScheme=squanchy

# Algolia App ID and indices prefix (used for search)
algoliaId=ABCDEFGH12
algoliaIndicesPrefix=squanchy_dev
