# API key for Fabric — you can find it here: https://fabric.io/kits/android/crashlytics/install,
# or use the IDE plugin for an automated setup process: https://fabric.io/downloads/android-studio
# and then extract the API key from the setup wizard and put it here.
fabricApiKey=

# API key and Secret for Twitter — you can find it or register a new app here: https://apps.twitter.com/
twitterApiKey=
twitterSecret=
