<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="net.squanchy">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.VIBRATE" />

  <application
    android:name="net.squanchy.SquanchyApplication"
    android:theme="@style/Theme.Connfa.Home"
    android:allowBackup="true"
    android:fullBackupContent="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="false"
    tools:ignore="GoogleAppIndexingWarning">

    <!-- TODO remove this activity altogether -->
    <!--<activity-->
      <!--android:name="com.connfa.ui.activity.SplashActivity"-->
      <!--android:theme="@style/Theme.Connfa.Home"-->
      <!--android:label="@string/app_name"-->
      <!--android:screenOrientation="portrait">-->
      <!---->
      <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="android.intent.category.LAUNCHER" />-->
      <!--</intent-filter>-->
    <!--</activity>-->

    <activity
      android:name="net.squanchy.schedule.ScheduleActivity"
      android:theme="@style/Theme.Connfa.Schedule"
      android:label="@string/app_name">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name="net.squanchy.ui.activity.HomeActivity"
      android:theme="@style/Theme.Connfa.Home"
      android:launchMode="singleTask"
      android:screenOrientation="portrait" />

    <activity
      android:name="net.squanchy.ui.activity.SpeakerDetailsActivity"
      android:theme="@style/Theme.Connfa.Speaker"
      android:screenOrientation="portrait" />

    <activity
      android:name="net.squanchy.ui.activity.AboutDetailsActivity"
      android:theme="@style/Theme.Connfa.About"
      android:screenOrientation="portrait" />

    <activity
      android:name="net.squanchy.ui.activity.EventDetailsActivity"
      android:theme="@style/Theme.Connfa.Event"
      android:screenOrientation="portrait" />

    <activity
      android:name="net.squanchy.social.SocialFeedActivity"
      android:theme="@style/Theme.Connfa.SocialFeed"
      android:label="@string/activity_social_feed"
      android:screenOrientation="portrait" />

    <receiver android:name="net.squanchy.receiver.NotifyReceiver" />

    <service android:name="net.squanchy.push.PushMessagingService">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>

    <service android:name="net.squanchy.push.PushInstanceIDService">
      <intent-filter>
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
      </intent-filter>
    </service>

    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version" />
    <meta-data
      android:name="com.google.android.maps.v2.API_KEY"
      android:value="@string/api_value_google_maps_api_key" />
    <meta-data
      android:name="io.fabric.ApiKey"
      android:value="${fabricApiKey}" />

    <activity
      android:name="net.squanchy.eventdetails.EventDetailsActivity"
      android:theme="@style/Theme.Connfa.EventDetails" />
  </application>

</manifest>
