<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="net.squanchy">

  <application>

    <activity
      android:name="net.squanchy.DebugActivity"
      android:theme="@style/Theme.Squanchy.PrimaryStatusBar"
      android:label="@string/debug_activity_title"
      android:taskAffinity="net.squanchy.debug">

      <intent-filter>
        <action android:name="net.squanchy.DebugActivity" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

  </application>

</manifest>
